* {
	padding: 0px;
	margin:	0px;
	outline: 0px;
	border: 0px;
}

html {
	background: black url(../images/bg.png);
}

body {
	font: 12px Tahoma, Geneva, sans-serif;	
}

article,header,footer,figure,section,aside,nav {
	display: block;
}

#page-wrap {
	width: 100%;		
	background-color: white;	
	margin:0px;
	padding:0px;	
	overflow:hidden;	
}

#outer-header
{    
    width: 100%;
    background-color: #EEAA25;
    padding: 0px;
    margin: 0px;
}

#header {		
	height: 200px;
	width:1000px;
	background-color: #EEAA25;
	margin:0 auto;
}

#header h1 {
 background: url(../images/logo2.png) no-repeat; 
 text-indent: -9999px;
 float: left; 
 margin: 0px 0px 0px 0px ;
}

#header h1 a {
 width: 195px;
 height: 200px;
 display: block;
}

/*---------------------------------Main-Menu--------------------------------*/

#outer-main-menu
{
    width: 100%;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);  
    padding: 0px;
    margin: 0px;
}

#main-menu {	
	height:35px;
	width:1000px;	
	background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
	margin:0 auto;		
}

#main-menu li  a:hover {
	display: block;
	background: #0186ba;
    background: -moz-linear-gradient(#04acec,  #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec,  #0186ba);
    background: -o-linear-gradient(#04acec,  #0186ba);
    background: -ms-linear-gradient(#04acec,  #0186ba);
    background: linear-gradient(#04acec,  #0186ba);		
}

.active
{
    line-height: 35px;	
	text-decoration: none;	
	color: #FFF;
	padding: 0px 40px 0px 40px;	
	display: block;
	background-color: #EEAA25;	
}

/**************************** Main Menu ********************************************/
#main-menu ul {
	list-style-type: none;
	font-size: 12px;		
}

#menu li{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a{
        float: left;
        height: 25px;
        padding: 5px 7px;
        color: #999;
        text-transform: capitalize;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

#menu a.main-site-menu-li
{
    padding: 5px 25px;
}

#menu li:hover > a{
        color: #fafafa;
}

#menu li a:hover{ /* IE6 */
        color: #fafafa;
}

#menu li:hover > ul{
        display: block;
}

/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a{ /* IE6 */
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a{ /* IE7 */
        height: 10px;
        width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

/*---------------------------------Widget--------------------------------*/

#aside {
	width: 245px;	
	float: left;
	padding: 0px 5px 0px 0px;	
	background-color:#ECEDF0;
	min-height:400px;   		
}

#nav ul {
	list-style: none;
	margin: 0px 0 0px 0;		
}

#nav li {
	 margin: 0 0 10px 0;	
}

#nav li a { 
	background-color: #909673; 	 
	font-size: 15px;	 
	width: 250px; 
	padding: 5px 0 5px 0; 
	display: block; 
	color: white; 	
	text-indent: 26px;
	text-decoration: none; 
}

#nav li a:hover { 
	text-decoration: none; 
	background-color: #666; 
}

#nav li a:hover { 
	background-color: #666; 
}

#nav h2{
	width: 250px;
	background-color:#909673;
	color:#ffffff;
	text-align:left;
	text-indent: 26px;
	padding: 5px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
}

#nav p{
	width: 230px;
	background-color:#909673;
	color:#ffffff;
	text-align:justify;
	font-size:12px;
	padding: 10px 10px 10px 10px;	
	margin: 15px 0px 10px 0px;
}

/*---------------------------------Main-Content--------------------------------*/          
#outer-main
{
    width: 1000px;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0 auto;      
}
#main-content {
	float: left;
	width: 1000px;	
	background-color: white;	
	padding: 0px;
    margin: 0px;
	min-height:400px;   
}

/*---------------------------------Footer--------------------------------*/

#outer-footer
{
    width: 100%;
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111); 
    padding: 0px;
    margin: 0px; 
    min-height:50px;
    color: #999;
}

#footer { 
	width: 1000px; 
	margin: 0 auto; 	
	letter-spacing: 1.5px; 
	text-align:center;
}
	
#copy-right { 
	float: left; 	
	width: 100%;
	padding: 20px;	
	text-align: center; 
}

.label {	
	text-align: right;
	margin-right: 0px;	
    padding: 5px;
    height: 30px;
    font-size: 14px;
}
	
legend {
    margin-left: 215px;
    font-weight: bold;
}
	
fieldset {
    border: 1px solid #6d6f71;
    margin-right: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

input {
    padding: 2px 5px 2px 5px;
    font-size: 16px;
	border:1px solid #00CCFF;    
}

input[type=checkbox] {
    width: 50px;
    margin-left: -10px;
}

select {
    height: 30px;
    width: 175px;
    padding: 2px;
    font-size: 16px;
	border:1px solid #00CCFF;
    }

input:focus {
	border: 2px solid #900;
    }

.submit {
    padding: 5px 0 5px 0px;
	width:150px;
    margin: 10px 0px 10px 215px;
    }
	
.error-field{ display:none;}


table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
	width:100%;
	margin:0px auto 0;
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Saf3-4 */
	border-radius:5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
	
th, td {padding:18px 28px 18px; text-align:center; }
	
th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
	
td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
	
tr.odd-row td {background:#f6f6f6;}
	
td.first, th.first {text-align:left}
	
td.last {border-right:none;}
	
td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
	
tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
	
th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}	
	
tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px; /* Saf3-4 */
}
	
tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; /* Saf3-4 */
}
	
tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
	
tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}
	
table tr td a {
	text-decoration:none;	
	color:black;
	font-weight:bold;	
}

/****************************************************************************/
#login-wrapper {
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);  
    color: #999;
}
.title {
    background: #0186ba;
    background: -moz-linear-gradient(#04acec,  #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec,  #0186ba);
    background: -o-linear-gradient(#04acec,  #0186ba);
    background: -ms-linear-gradient(#04acec,  #0186ba);
    background: linear-gradient(#04acec,  #0186ba);
    height: 30px;
    margin-bottom: 20px;    
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    color: #999;
    text-transform: capitalize;
    font: bold 16px/30px Arial, Helvetica;    
    text-shadow: 0 1px 0 #000;
    text-indent: 165px;
}

#login ul {	
	font-size: 14px;
    margin: 0px;
    padding: 0px;		
}

#login li{        
        padding: 0 0 3px 160px;  
        list-style-type: none;      
}

#login a{        
        height: 20px;
        padding: 3px 7px;
        color: rgb(198, 187, 208);
        text-transform: capitalize;
        font: bold 14px/28px Arial, Helvetica;        
        text-shadow: 0 1px 0 #000;
}






